doctype html
html(ng-app="aspen")
  head
    title(ng-bind='title') Aspen
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/angular-1.2.21/angular.js')
    script(src='/js/angular-1.2.21/angular-sanitize.js')
    script(src='/js/angularUtils/directives/pagination/dirPagination.js')
    script(src='/js/main.js')
  body(ng-controller='SearchController')

    div.topnav
      div.container
        form
          img(src='wsc.jpg').wsc.item
          label(for='query').lead.item Aspen 2.0
          input(id='query', type='text', ng-model='query', ng-keydown='onSearchKeyDown()', autofocus).item
          button(ng-click='doSearch()').btn.btn-primary.item Search
          a(href='/data/').btn.btn-default.item.hidden-xs Browse

    div(ng-cloak).container

      div(ng-if='error != null').alert.alert-danger
        p: strong An error occurred -- you should tell Ian:
        p.json {{ error }}

      p(ng-if='totalItems').text-success
        | {{ totalItems }} results found.
        | Page {{ currentPage }} of {{ totalPages }}.

      p(ng-if='query && !totalItems').text-danger
        | 0 results found.

    div(ng-cloak).container.results

      div.result(dir-paginate='result in results | itemsPerPage: itemsPerPage',
                 current-page='currentPage'
                 total-items='totalItems')
        a(href='{{ result.url }}')
          span.title {{ result.title }}
          | &nbsp;
          small.text-muted {{ result.url }}
        br
        p(ng-bind-html='result.snippet').snippet

    div(ng-cloak, ng-if='totalItems').container.text-center

      dir-pagination-controls(
        on-page-change='doSearch(newPageNumber)'
        template-url='/js/angularUtils/directives/pagination/dirPagination.tpl.html'
        )

    div.container
      div.well
        strong Examples:
        br
        | Must contain "chartwell" and either "jock" or "sarah": &nbsp;
        code chartwell (jock OR sarah)
        br
        | Must contain "soviets" but not "britain": &nbsp;
        code soviets -britain
        br
        | Must contain the exact phrase, "i would drink it": &nbsp;
        code "i would drink it"
        br
        em Note: &nbsp;
        | Capitalization doesn't count except for <code>AND</code> and <code>OR</code>
