doctype html
html(ng-app='aspen')
  head
    title(ng-bind='title') Aspen
    meta(charset='utf-8')
    meta(name='robots', content='noindex, nofollow')

    // Begin Bower Stylesheets
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.min.css')
    // End Bower Stylesheets

    link(rel='stylesheet', href='/main.css')

  body(ng-cloak, ng-controller='MainController')

    div.topnav
      div.container
        form
          a(href="/"): img(src='/wsc.jpg').wsc.item
          label(for='query').lead.item.hidden-xs Aspen 2.0
          input(id='query', type='text', ng-model='query', ng-keydown='onSearchKeyDown()', focus-if="!filename").item
          button(ng-click='onSearchButtonClicked()').btn.btn-primary.item
            span.hidden-xs Search
            span.visible-xs.fa.fa-search.fa-reverse
          a(href='/data/').btn.btn-default.item.hidden-xs Browse
          span.nowrap
            input(id='slop', type='checkbox', ng-model='slop', ng-change='onSearchKeyDown()')
            label(for='slop').hidden-xs Sloppy?
            label(for='slop').visible-xs-inline S

    div(ng-show='query').container

      div(ng-show='error != null').alert.alert-danger
        p.json Error: {{ error }}

      p(ng-show='inProgress').text-success
        span.fa.fa-spin.fa-circle-o-notch

      p(ng-show='totalItems && !inProgress').text-success
        | {{ totalItems }} results found.
        | Page {{ currentPage }} of {{ totalPages }}.

      p(ng-show='!totalItems && !inProgress').text-danger
        | 0 results found.

    div(ng-show='results && results.length').container.results

      div.result(dir-paginate='result in results | itemsPerPage: itemsPerPage',
                current-page='currentPage'
                total-items='totalItems')
        a(ng-click='onResultClicked(result.url, result.locations)')
          span.title {{ result.title }}
          | &nbsp;
          small.text-muted {{ result.url }}
        br
        p(ng-bind-html='result.snippet').snippet

    div.container.text-center

      dir-pagination-controls(
        on-page-change='doSearch(newPageNumber)'
        template-url='/bower_components/angular-utils-pagination/dirPagination.tpl.html'
        )

    div.container
      div.well
        strong Notes:
        br
        | "Sloppy" will search over page breaks but is less accurate.
        br
        | Capitalization doesn't count except for <code>AND</code> and <code>OR</code>
        br
        | Must contain "chartwell" and either "jock" or "sarah": &nbsp;
        code chartwell (jock OR sarah)
        br
        | Must contain "soviets" but not "britain": &nbsp;
        code soviets -britain
        br
        | Must contain the exact phrase, "i would drink it": &nbsp;
        code "i would drink it"
        br

  div(id='viewer', ng-controller='FileViewController').modal
    div.modal-dialog.modal-lg
      div.modal-content

        div.modal-header
          a(data-dismiss='modal').btn.btn-default.pull-right
            span.fa.fa-close
            | &nbsp; Close
          a(href="{{ path }}", target='_blank').btn.btn-default.pull-right
            span.fa.fa-external-link
            | &nbsp; Open
          h4.modal-title {{ path }}

        div.modal-body

          div(ng-show='inProgress').text-success
            span.fa.fa-spin.fa-circle-o-notch

          div(ng-show='error != null && !inProgress').alert.alert-danger
            p.json Error: {{ error }}

          div(ng-show='!inProgress && !error')
            p: div(ng-show='locations.length').btn-group
              a(ng-class="{disabled: currentLocation == 0}", ng-click='goToPreviousLocation()').btn.btn-default
                span.fa.fa-caret-left
                | &nbsp; Previous
              a(disabled).btn.btn-default
                | Match {{ currentLocation + 1 }} of {{ locations.length }}
              a(ng-class="{disabled: currentLocation >= locations.length - 1}", ng-click='goToNextLocation()').btn.btn-default
                | Next &nbsp;
                span.fa.fa-caret-right
            div(ng-bind-html='highlightedContents').contents

  // Begin Bower JavaScript
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/bower_components/jquery.scrollTo/jquery.scrollTo.min.js')
  script(src='/bower_components/angular/angular.js')
  script(src='/bower_components/angular-route/angular-route.js')
  script(src='/bower_components/angular-sanitize/angular-sanitize.js')
  script(src='/bower_components/angular-utils-pagination/dirPagination.js')
  // End Bower JavaScript

  script(src='/main.js')

