doctype html
html(ng-app='aspen')
  head
    title(ng-bind='title') Aspen

    // Begin Bower Stylesheets
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bower_components/viewer/dist/crocodoc.viewer.min.css')
    // End Bower Stylesheets

    link(rel='stylesheet', href='/main.css')

  body(ng-cloak, ng-controller='MainController')

    div.topnav
      div.container
        form
          a(href="/"): img(src='wsc.jpg').wsc.item
          label(for='query').lead.item.hidden-xs Aspen 2.0
          input(id='query', type='text', ng-model='query', ng-keydown='onSearchKeyDown()', focus-if="!filename").item
          button(ng-click='onSearchButtonClicked()').btn.btn-primary.item
            span.hidden-xs Search
            span.visible-xs.fa.fa-search.fa-reverse
          a(href='/data/').btn.btn-default.item.hidden-xs Browse

    div(ng-show='query').container

      div(ng-show='error != null && !inProgress').alert.alert-danger
        p: strong An error occurred -- you should tell Ian:
        p.json {{ error }}

      p(ng-show='totalItems').text-success
        | {{ totalItems }} results found.
        | Page {{ currentPage }} of {{ totalPages }}.

      p(ng-show='!totalItems && !inProgress').text-danger
        | 0 results found.

    div(ng-show='results && results.length').container.results

      div.result(dir-paginate='result in results | itemsPerPage: itemsPerPage',
                current-page='currentPage'
                total-items='totalItems')
        a(ng-click='onResultClick(result)')
          span.title {{ result.title }}
          | &nbsp;
          small.text-muted {{ result.url }}
        br
        p(ng-bind-html='result.snippet').snippet

    div.container.text-center

      dir-pagination-controls(
        on-page-change='doSearch(newPageNumber)'
        template-url='/bower_components/angular-utils-pagination/dirPagination.tpl.html'
        )

    div.container
      div.well
        strong Examples:
        br
        | Must contain "chartwell" and either "jock" or "sarah": &nbsp;
        code chartwell (jock OR sarah)
        br
        | Must contain "soviets" but not "britain": &nbsp;
        code soviets -britain
        br
        | Must contain the exact phrase, "i would drink it": &nbsp;
        code "i would drink it"
        br
        em Note: &nbsp;
        | Capitalization doesn't count except for <code>AND</code> and <code>OR</code>

    //div(ng-if='filename', focus-if="filename", ng-click="hideViewer()")#viewer
    //div(ng-if='fileBoxViewURL').inline: div(box-document-viewer='fileBoxViewURL')
    //iframe(ng-if='fileIframeURL', ng-src="{{ fileIframeURL }}").inline

  // Begin Bower JavaScript
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/angular/angular.js')
  script(src='/bower_components/angular-route/angular-route.js')
  script(src='/bower_components/angular-sanitize/angular-sanitize.js')
  script(src='/bower_components/angular-utils-pagination/dirPagination.js')
  script(src='/bower_components/viewer/dist/crocodoc.viewer.min.js')
  // End Bower JavaScript

  script(src='/main.js')

